<app-loader *ngIf="isDisplayLoader()"></app-loader>
<div id="toolbar">
  <div *ngIf="isDisplayNews()" id="return-button" (click)="clearNewsDisplayed()">
    <i class="material-icons md-48">arrow_back</i>
  </div>
  <img src="assets/logo.png">
  <div *ngIf="!isDisplayNews()" id="toolbar-icons">
    <i class="material-icons md-36" (click)="reloadNews()"> refresh </i>
  </div>
</div>
<div *ngIf="ifNoError()" id="content" (scroll)="onScroll($event)">
  <app-last-news-page *ngIf="!isDisplayNews()"
    (clickNews)="newsDisplayed = $event"></app-last-news-page>
  <app-one-news-page *ngIf="isDisplayNews()" [news]="newsDisplayed"></app-one-news-page>
</div>
<app-error *ngIf="!ifNoError()" id="content"
  [imgSrc]="'assets/error.png'"
  [message]="'Une erreur a été rencontrée !'">
</app-error>